@import "tailwindcss";

:root {
  --background: #0C0C0C;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-bebas: var(--font-bebas);
  --font-kanit: var(--font-kanit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit);
}

@layer utilities {
  .text-gradient-nebula {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-white;
  }
  
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
